{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="login-page">

    <div class="login-card">

        <div class="text-center mb-4">

            <h2 class="fw-bold">📚 BookVerse</h2>

            <p class="text-muted">
                Welcome Back!
            </p>

        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="Enter Username"
                    required>

            </div>

            <div class="mb-3">

                <label>Password</label>

                <div class="input-group">

                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter Password"
                        required>

                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        onclick="togglePassword()">

                        <i class="bi bi-eye" id="eyeIcon"></i>

                    </button>

                </div>

            </div>

            <div class="d-flex justify-content-between mb-3">

                <div>
                    <input type="checkbox">
                    Remember Me
                </div>

                <a href="#">
                    Forgot Password?
                </a>

            </div>

            <button class="btn btn-primary w-100 py-2">

                Login

            </button>

        </form>

        <hr>

        <p class="text-center">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </p>

    </div>

</div>

<script>

function togglePassword(){

    const password=document.getElementById("password");

    const icon=document.getElementById("eyeIcon");

    if(password.type==="password"){

        password.type="text";

        icon.className="bi bi-eye-slash";

    }else{

        password.type="password";

        icon.className="bi bi-eye";

    }

}

</script>

{% endblock %}